packer_cache/
output-vmware-iso/
output-veba/
dist/
.vscode
.idea
username
password
secret*.json
secret*.yml
.jekyll-metadata
.sass-cache
.jekyll-cache
_site
Gemfile.lock
.tweet-cache
*.coverprofile
faas-cli*
template
# don't exclude this pkg by rule above
!**/vendor/**/template
checkpoints/
.DS_Store

# ignore RELEASE-specific CHANGELOG
RELEASE_CHANGELOG.md

# ignore python bytecode artifacts
*.pyc
*.pyo
__pycache__