.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
  }
  
  .embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .resources {
  
    h2,
    h3,
    p {
      width: 100%;
      margin-bottom: 0.5rem;
      line-height: $line-height-base;
      color: #292F33;
    }
  
    h2 {
      font-size: $font-size-lg;
      font-weight: $font-weight-normal;
      margin-top: 0.5rem;
    }
  
    h3 {
      font-size: $font-size-base;
      font-weight: $font-weight-normal;
      margin-top: 0.5rem;
      border-bottom: 1px solid rgba(15,70,100,0.25);
    }

    h3:first-child {
      margin-top: 1rem;
    }

    p {
      font-size: $font-size-sm;
      font-weight: $font-weight-normal;
    }
  }

  #resources {
    .container.container-max {
      max-width: 90%;
    }
    table {
      @extend .table;
      @extend .table-striped;
      @extend .table-bordered;
      thead {
        @extend .thead-light;
      }
      td {
        code {
          word-break: keep-all;
        }
      }
    }
    .toc {
      padding-left: 30px;
      nav {
        ul {
          padding: 0;
        }
      }
    }
    .documentation-container {
      @include media-breakpoint-down(lg) {
        max-width: 100%;
        overflow-x: scroll;
      }
    }
  }


#twitter-widget-0 {
  max-height: 2000px;
}

.tweetfeed {
  padding-left: 0em !important;
  border-right: 1px solid rgba(15,70,100,0.25);
}