    <ProductSection ovf:required="true">
    <Info>Information about the installed software</Info>
      <Product>vCenter Event Broker Appliance</Product>
      <Vendor>VMware</Vendor>
      <Version>{{VERSION}}</Version>
      <ProductUrl>https://github.com/vmware-samples/vcenter-event-broker-appliance</ProductUrl>
      <VendorUrl>https://www.vmware.com/</VendorUrl>
      <Category>Networking</Category>
        <Property ovf:key="guestinfo.hostname" ovf:type="string" ovf:userConfigurable="true" ovf:value="veba.primp-industries.com">
            <Label>Hostname</Label>
            <Description>Hostname of system</Description>
        </Property>
        <Property ovf:key="guestinfo.ipaddress" ovf:type="string" ovf:userConfigurable="true" ovf:value="192.168.30.170">
            <Label>IP Address</Label>
            <Description>IP Address of the system</Description>
        </Property>
        <Property ovf:key="guestinfo.netmask" ovf:type="string" ovf:userConfigurable="true" ovf:value="24">
            <Label>Netmask Prefix</Label>
            <Description>CIDR notation (e.g. 24 for 255.255.255.0, 28 for 255.255.255.240)</Description>
        </Property>
        <Property ovf:key="guestinfo.gateway" ovf:type="string" ovf:userConfigurable="true" ovf:value="192.168.30.1">
            <Label>Gateway</Label>
            <Description>Gateway of the system</Description>
        </Property>
        <Property ovf:key="guestinfo.dns" ovf:type="string" ovf:userConfigurable="true" ovf:value="192.168.30.1">
            <Label>DNS</Label>
            <Description>DNS Servers (space separated)</Description>
        </Property>
        <Property ovf:key="guestinfo.domain" ovf:type="string" ovf:userConfigurable="true" ovf:value="primp-industries.com">
            <Label>DNS Domain</Label>
            <Description>DNS Domain</Description>
        </Property>
        <Property ovf:key="guestinfo.ntp" ovf:type="string" ovf:userConfigurable="true" ovf:value="pool.ntp.org">
            <Label>NTP</Label>
            <Description>NTP Servers (space separated)</Description>
        </Property>
        <Category>Proxy Settings (optional)</Category>
        <Property ovf:key="guestinfo.http_proxy" ovf:type="string" ovf:userConfigurable="true" ovf:value="">
            <Label>HTTP Proxy</Label>
            <Description>Enter HTTP Proxy Server followed by the port and without typing "http://" before. Example: "proxy.provider.com:3128"</Description>
        </Property>
        <Property ovf:key="guestinfo.https_proxy" ovf:type="string" ovf:userConfigurable="true" ovf:value="">
            <Label>HTTPS Proxy</Label>
            <Description>Enter HTTPS Proxy Server followed by the port and without typing "https://" before. Example: "proxy.provider.com:3128"</Description>
        </Property>
        <Property ovf:key="guestinfo.proxy_username" ovf:type="string" ovf:userConfigurable="true" ovf:value="">
            <Label>Proxy Username (optional)</Label>
            <Description>Username for the Proxy Server</Description>
        </Property>
        <Property ovf:key="guestinfo.proxy_password" ovf:password="true" ovf:type="string" ovf:userConfigurable="true" ovf:value="">
            <Label>Proxy Password (optional)</Label>
            <Description>Password for the Proxy User</Description>
        </Property>
            <Property ovf:key="guestinfo.no_proxy" ovf:type="string" ovf:userConfigurable="true" ovf:value="">
            <Label>No Proxy</Label>
            <Description>No Proxy for e.g. your internal domain suffix. Comma separated (localhost, 127.0.0.1, domain.local)</Description>
        </Property>
        <Category>Credentials</Category>
        <Property ovf:key="guestinfo.root_password" ovf:password="true" ovf:type="string" ovf:userConfigurable="true" ovf:value="VMware1!">
            <Label>Root Password</Label>
            <Description>Password to login in as root. Please use a secure password</Description>
        </Property>
        <Property ovf:key="guestinfo.openfaas_password" ovf:password="true" ovf:type="string" ovf:userConfigurable="true" ovf:value="VMware1!">
            <Label>OpenFaaS Password</Label>
            <Description>Password to login into OpenFaaS. Please use a secure password</Description>
        </Property>
        <Category>vSphere</Category>
        <Property ovf:key="guestinfo.vcenter_server" ovf:type="string" ovf:userConfigurable="true" ovf:value="192.168.30.200">
            <Label>vCenter Server</Label>
            <Description>IP Address or Hostname of vCenter Server</Description>
        </Property>
        <Property ovf:key="guestinfo.vcenter_username" ovf:type="string" ovf:userConfigurable="true" ovf:value="administrator@vsphere.local">
            <Label>vCenter Username</Label>
            <Description>Username to login to vCenter Server</Description>
        </Property>
        <Property ovf:key="guestinfo.vcenter_password" ovf:password="true" ovf:type="string" ovf:userConfigurable="true" ovf:value="VMware1!">
            <Label>vCenter Password</Label>
            <Description>Password to login to vCenter Server</Description>
        </Property>
        <Property ovf:key="guestinfo.vcenter_disable_tls_verification" ovf:type="boolean" ovf:userConfigurable="true" ovf:value="false">
            <Label>Disable vCenter Server TLS Verification</Label>
            <Description>Disable TLS Verification for vCenter Server (required for self-sign certificate)</Description>
        </Property>
        <Category>zAdvanced</Category>
        <Property ovf:key="guestinfo.pod_network_cidr" ovf:type="string" ovf:userConfigurable="true" ovf:value="10.99.0.0/20">
            <Label>POD CIDR Network</Label>
            <Description>Customize POD CIDR Network (Default 10.99.0.0/20)</Description>
        </Property>
        <Category>zDebug</Category>
        <Property ovf:key="guestinfo.debug" ovf:type="boolean" ovf:userConfigurable="true" ovf:value="true">
            <Label>Debugging</Label>
            <Description>Enable Debugging</Description>
        </Property>
    </ProductSection>
