name: Mark stale issues and pull requests

on:
  schedule:
  - cron: "0 0 * * *"

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/stale@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        stale-issue-message: 'Marking issue as stale due to no activitiy within the last 60 days (will close in 5 days)'
        stale-pr-message: 'Marking pull request as stale due to no activitiy within the last 60 days (will close in 5 days)'
        stale-issue-label: 'stale'
        stale-pr-label: 'stale'
        days-before-stale: 60
        days-before-close: 5
